<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>19 de maio de 2009</ion-card-subtitle>
      <ion-card-title>Glee</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/62T2vsZYTje3KhdCsiLR1K1RFJW.jpg">
      <p>O professor de espanhol Will Schuester (Matthew Morrison) resolve comandar o coral da escola, Glee Club.
        Tentando dar nova vida ao grupo, ele procura diferentes…</p>
      <ion-button expand="block" fill="outline">Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>6 de fevereiro de 2012</ion-card-subtitle>
      <ion-card-title>Smash</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/eK8JlV4zVsN8hQKGD2N5WT21lzo.jpg">
      <p>Dois compositores têm a oportunidade de criar um sucesso na Broadway, um musical baseado na vida da atriz Marilyn Monroe. Enquanto a produção está sendo preparada para a noite de abertura, a vida real insiste em atravessar o caminho...</p>
      <ion-button expand="block" fill="outline">Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>