<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1>Mamma Mia! - O filme</h1>
        <h2>02 de julho de 2008</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/eTy6LB6vY8UhD8ZYKcgMG6RzGJ3.jpg">
        <p>1999, na ilha grega de Kalokairi. Sophie (Amanda Seyfried) está prestes a se casar e, sem saber quem é seu
          pai, envia convites para Sam Carmichael (Pierce Brosnan…</p>
        <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>Mamma Mia! Lá Vamos Nós de Novo</h1>
        <h2>9 de julho de 2018</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/5nWqFF7wfLO9UllwS7i9qScK5GV.jpg">
        <p>Um ano após a morte de Donna (Meryl Streep), sua filha Sophie (Amanda Seyfried) está prestes a reinaugurar o
          hotel da mãe, agora totalmente reformado. Para tanto…</p>
        <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h1>
          La La Land: Cantando Estações</h1>
        <h2>29 de novembro de 2016</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/rt9jgqgH6EpJKDJwPOsK3AXsuUB.jpg">
        <p>Com roteiro e direção do indicado ao Oscar Damien Chazelle, La La Land retrata a história de Mia, uma
          aspirante a atriz, e Sebastian, um talentoso músico de jazz…</p>
        <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1>A Escolha Perfeita</h1>
        <h2>28 de setembro de 2012</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/8DxgIhEOQ9FoRbh8Y7t2lJGBvF9.jpg">
        <p>O The Barden Bellas é um grupo formado apenas por garotas, que apostam no visual perfeito e em sucessos pop
          para atrair o público da escola. Entretanto, após uma…</p>
        <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>